body{
  background-image: url(restaurant.png);
}
header{
  background-color: grey;
}
li>p{
  display: inline-block;
  border: 1px solid red;
  width: 100px;
  text-align: center;
}
.main{
  padding: 10px;
}
